/* Site layout */

@media (min-width: 80em) {
    body {
        width: 100%;
        box-shadow: 2px 2px 5px lightgray;
        display: grid;
        grid-template-columns: 1fr 4fr 1.5fr;
        grid-template-rows: 4.5em auto auto;

        grid-template-areas: "header  header header"
            "navbar  content rightbar"
            "footer  footer footer";
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: content;
        margin: 1.5em;
    }

    #leftbar {
        grid-area: navbar;
        width: 20em;
        margin-right: 8.5em;
    }

    #notifications_container {
        grid-area: navbar;
        width: 350px;
        margin-left: 100px;
        visibility: hidden;
    }

    #rightbar {
        grid-area: rightbar;
        padding: 2em 1.5em;
        min-width: 22em;
    }

    #footer {
        grid-area: footer;
    }

    #small_leftbar {
        display: none;
    }

    #post_comment_section {

        margin-right: 1em;
    }

}


@media (max-width: 80em) {

    body {
        width: 100%;
        box-shadow: 2px 2px 5px lightgray;
        display: grid;
        grid-template-rows: auto auto auto auto;

        grid-template-areas: "header"
            "rightbar"
            "content"
            "leftbar";
    }

    #rightbar {
        grid-area: rightbar;
        padding: 2em;
        padding-top: 7em;
        margin-bottom: -4em;

    }

    #rightbar>h2 {
        display: block;
    }

    #rightbar>#user_info {
        display: flex;
    }

    #breadcrumbs {
        display: none;
    }

    main {
        grid-area: content;
        margin: 5.5em 1em;
        min-height: 65em;
    }

    header {
        grid-area: header;
        position: fixed;
        width: 100%;
        z-index: 10;
        box-shadow: 0px 3px 20px rgb(221, 221, 221);
    }

    #leftbar {
        display: none;
    }

    #notifications_container {
        grid-area: navbar;
        width: 0px;
        display: none;
    }

    #small_leftbar {
        grid-area: leftbar;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 10;
        box-shadow: 0px -3px 20px rgb(221, 221, 221);
    }

    #footer {
        display: none;
    }

    #post_comment_section {
        margin: -6em auto 7em auto;
        min-width: 35em;
        grid-row: 4;
    }

}

/*  ====================== AJUSTES =====================*/

#contextual-help {
    margin-right: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.4;
}

.card {
    border: none;
    box-shadow: 2px 2px 10px lightgray;
}

ul.nav a:hover {
    color: #006EF5;
}

.profile_img {
    display: block;
    margin: auto;
}

.help_photo {
    height: 50%;
    width: 80%;
}

.header_searchbar {
    width: 35%
}

.expand_tag_a a {
    width: 60%;
    text-align: center;
    font-size: 1.2em;
}

.group_member_list .list-group-item {
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 20em;
}

.dropdown_menu>label.list-group-item:hover {
    background-color: #006EF5;
    color: white;
    cursor: pointer;
}

.dropdown_menu>label.list-group-item.no_hover:hover {
    cursor: default;
}

/*  ====================== POSTS ===================== */

.post_item img {
    max-width: 80%;
    max-height: 30em;
    margin: 0.5em auto;
    border-radius: 0.5em;
}

.post_item {
    margin: 0 auto;
}

.comment_item {
    max-width: 33em;
    margin: auto;
}

.post_item small {
    margin: auto;
}

.post_item .dropdown, .orderFilter.dropdown {
    margin: auto;
}

.post_item .dropdown_menu, .orderFilter .dropdown_menu {
    position: absolute;
}

.post_item .dropdown_menu *, .orderFilter .dropdown_menu * {
    padding: 0.5em;
    background-color: white;
    border: 1px solid lightgray;
}

.post_item .dropdown_menu *:hover {
    background-color: #006EF5;
    color: white;
}

.post_item .card-footer {
    font-size: 1.3em;
}

.post_card {
    max-width: 55em;
    min-width: 50em;
    margin: auto;
}

.white_span_a:hover span {
    color: white;
}

/*  ====================== FLOAT BTN ===================== */

.float {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 90px;
    right: 30px;
    background-color: #006EF5;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
}

.my-float {
    margin-top: 22px;
}

#list_toggle_btn_div, #list_toggle_btn_div *:hover {
    cursor: pointer;
    color: white;
}

/*  ====================== MESSAGES ===================== */

.message_body {
    max-height: 32em;
}

#video_call_span:hover {
    cursor: pointer;
}

#sms_input {
    width: 80%;
}

#sms_send_btn {
    font-size: 1.5em;
}

#message_frame {
    max-width: 55em;
    margin: auto;
}

.message_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_head a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.message_head a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.message_body {
    margin: 1em;
    min-height: 15em;
}

#video_call {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 2em;
}

#endCall:hover {
    cursor: pointer;
}

/*  ====================== NAVBAR FILTER ===================== */

#feed_filter {
    margin: 4rem auto;
}

.form-check-input:checked+.form-checked-content {
    opacity: .5;
}

.form-check-input-placeholder {
    border-style: dashed;
}

[contenteditable]:focus {
    outline: 0;
}

.list-group-checkable .list-group-item {
    cursor: pointer;
}

.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.list-group-item-check:hover+.list-group-item {
    background-color: var(--bs-light);
}

.list-group-item-check:checked+.list-group-item {
    color: #fff;
    background-color: var(--bs-blue);
}

.list-group-item-check[disabled]+.list-group-item,
.list-group-item-check:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

.list-group-radio .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}

.list-group-radio .form-check-input {
    z-index: 2;
    margin-top: -.5em;
}

.list-group-radio .list-group-item:hover,
.list-group-radio .list-group-item:focus {
    background-color: var(--bs-light);
}

.list-group-radio .form-check-input:checked+.list-group-item {
    background-color: var(--bs-body);
    border-color: var(--bs-blue);
    box-shadow: 0 0 0 2px var(--bs-blue);
}

.list-group-radio .form-check-input[disabled]+.list-group-item,
.list-group-radio .form-check-input:disabled+.list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

#feed_filter, #search_filter {
    flex-direction: row;
    margin: 0 auto;
    max-width: 40em;
}

#search_filter *, #feed_filter * {
    width: 25%;
    height: 2.6em;
    text-align: center;
}

#feed_filter .list-group-item p {
    padding: 0.0em
}

#search_filter * {
    width: 32%;
    text-align: center;
}

#feed_filter .list-group-item {
    margin: 0.5em;
}

#search_filter .list-group-item {
    margin: 0.5em;
}

/* ====================== Popups ===================== */

.pop_up {
    padding: 2.5em;
    border-radius: 1em;
    background-color: #a4c6f0;
    box-shadow: 2px 2px 5px grey;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    z-index: 1
}

.comment_reply_section {
    margin: 0 auto;
    width: 90%;
}

/* ====================== switch ===================== */

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #006EF5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #006EF5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
